.DS_Store
Thumbs.db

.idea/
*.iml
*.ipr
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/launch.json
!.vscode/tasks.json

backend/target/
backend/.mvn/wrapper/maven-wrapper.jar

frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/package-lock.json
frontend/bun.lock


infra/**/.terraform/
infra/**/.terraform.lock.hcl
infra/**/*.tfstate
infra/**/*.tfstate.*
infra/**/crash.log
infra/**/crash.*.log
infra/**/override.tf
infra/**/override.tf.json
infra/**/*_override.tf
infra/**/*_override.tf.json

.env
.env.*
*.local

.gitlab-ci-local/
.claude